<script setup lang="ts">
import { useViews } from '@src/stores/views';
import { useCart } from '@src/stores/cart';
import NavigationButton from '@components/elements/NavigationButton.vue';
import ListBox from '@components/elements/ListBox.vue';
import type { ViewsElements } from '@src/utils/types';
import ApproveCartButton from '@components/elements/ApproveCartButton.vue';

const views = useViews();
const cart = useCart();

function backToHomePage() {
    views.setViewActive('home' as unknown as ViewsElements);
}
</script>

<template>
    <div class="mt-28">
        <template v-if="cart.getCart.length > 0">
            <template v-for="product in cart.getCart" :key="product.id">
                <ListBox :product="product" :is-cart="true" />
            </template>
        </template>
        <template v-else>
            <div>Your Cart is empty</div>
        </template>
    </div>
    <div class="flex justify-between">
        <NavigationButton title="Back to homepage" @click="backToHomePage" />
        <ApproveCartButton :title="'Approve Cart'" />
    </div>
</template>
