<script setup lang="ts"></script>

<template>
    <footer class="w-full mt-12 bg-gray-300 p-9">
        <div>
            <div>Address:</div>
            <div>Country: Poland</div>
            <div>Street: Testowa 23</div>
            <div>City: Warszawa</div>
        </div>
        <div>This is footer</div>
    </footer>
</template>
