<script setup lang="ts">
import { useCart } from '@src/stores/cart';
import { useWishlist } from '@src/stores/wishlist';
import { useViews } from '@src/stores/views';
import type { ViewsElements } from '@src/utils/types';

const cart = useCart();
const wishlist = useWishlist();
const views = useViews();

function setCartActive() {
    views.setViewActive('cart' as unknown as ViewsElements);
}
function setWishlistActive() {
    views.setViewActive('wishlist' as unknown as ViewsElements);
}
function setUserAccountActive() {
    views.setViewActive('userAccount' as unknown as ViewsElements);
}
function setHomePageActive() {
    views.setViewActive('home' as unknown as ViewsElements);
}
</script>

<template>
    <div class="sticky top-0 z-10 grid grid-cols-5 grid-rows-1 gap-4 p-3 bg-gray-300">
        <div
            class="flex self-center justify-center hover:cursor-pointer"
            @click="setHomePageActive"
        >
            <img class="w-28" src="/pictures/logo.png" alt="logo" />
        </div>
        <div class="flex self-center justify-center col-span-3">
            <input type="text" class="w-6/12 h-8 border-2 border-solid border-sky-500" />
        </div>
        <div class="flex self-center justify-around col-start-5">
            <div class="relative hover:cursor-pointer" @click="setWishlistActive">
                <i class="fa-regular fa-heart"></i>
                <div
                    class="absolute rounded-full min-w-[24px] min-h-[24px] -top-2.5 -right-7 bg-white border selection:border-solid border-black flex justify-center items-center"
                >
                    {{ wishlist.getWishlist.length }}
                </div>
            </div>
            <div class="hover:cursor-pointer" @click="setUserAccountActive">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="relative hover:cursor-pointer" @click="setCartActive">
                <i class="fa-solid fa-cart-shopping"></i>
                <div
                    class="absolute rounded-full min-w-[24px] min-h-[24px] -top-2.5 -right-7 bg-white border selection:border-solid border-black flex justify-center items-center"
                >
                    {{ cart.getCart.length }}
                </div>
            </div>
        </div>
    </div>
</template>
