<script setup lang="ts">
import Header from '@components/views/HeaderView.vue';
import Listing from '@components/views/ListingView.vue';
import Cart from '@components/views/CartView.vue';
import Wishlist from '@components/views/WishlistView.vue';
import UserAccount from '@components/views/UserAccountView.vue';
import Footer from '@components/views/FooterView.vue';
import { useViews } from '@src/stores/views';
import type { ViewsElements } from '@src/utils/types';

const views = useViews();
</script>

<template>
    <Header />
    <template
        v-if="
            (views.getViews[0] as unknown as ViewsElements) === ('home' as unknown as ViewsElements)
        "
    >
        <Listing />
    </template>
    <template
        v-if="
            (views.getViews[0] as unknown as ViewsElements) === ('cart' as unknown as ViewsElements)
        "
    >
        <Cart />
    </template>
    <template
        v-if="
            (views.getViews[0] as unknown as ViewsElements) ===
            ('wishlist' as unknown as ViewsElements)
        "
    >
        <Wishlist />
    </template>
    <template
        v-if="
            (views.getViews[0] as unknown as ViewsElements) ===
            ('userAccount' as unknown as ViewsElements)
        "
    >
        <UserAccount />
    </template>
    <Footer />
</template>
