<script setup lang="ts">
import ProductBox from '@components/elements/ProductBox.vue';
import { useProducts } from '@src/stores/products';

const products = useProducts();
</script>

<template>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4 mt-28">
        <template v-for="product in products.products" :key="product.id">
            <ProductBox :product="product" />
        </template>
    </div>
</template>
