<script setup lang="ts">
import { useViews } from '@src/stores/views';
import NavigationButton from '@components/elements/NavigationButton.vue';
import type { ViewsElements } from '@src/utils/types';

const views = useViews();

function backToHomePage() {
    views.setViewActive('home' as unknown as ViewsElements);
}
</script>

<template>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4 mt-28">
        <div>This is userAccount View</div>
        <NavigationButton title="Back to homepage" @click="backToHomePage" />
    </div>
</template>
