<script setup lang="ts">
import { useViews } from '@src/stores/views';
import { useWishlist } from '@src/stores/wishlist';
import NavigationButton from '@components/elements/NavigationButton.vue';
import ProductBox from '@components/elements/ProductBox.vue';
import type { ViewsElements } from '@src/utils/types';

const views = useViews();
const wishlist = useWishlist();

function backToHomePage() {
    views.setViewActive('home' as unknown as ViewsElements);
}
</script>

<template>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4 mt-28">
        <template v-if="wishlist.getWishlist.length > 0">
            <template v-for="product in wishlist.getWishlist" :key="product.id">
                <ProductBox :product="product" :is-wishlist="true" />
            </template>
        </template>
        <template v-else>
            <div>Your Wishlist is empty</div>
        </template>
    </div>
    <NavigationButton title="Back to homepage" @click="backToHomePage" />
</template>
