<script setup lang="ts">
import { useCart } from '@src/stores/cart';
const props = defineProps<{
    title?: string;
    productId: number;
}>();

const cart = useCart();

function addToCart() {
    cart.addToCart(props.productId ?? props.productId);
}
</script>

<template>
    <div>
        <button
            class="p-3 text-white bg-green-600 border border-black rounded-xl hover:bg-green-400"
            type="button"
            @click="addToCart()"
        >
            {{ title }}
        </button>
    </div>
</template>
