<script setup lang="ts">
import { watch, ref } from 'vue';
import RemoveFromCartButton from '@components/elements/RemoveFromCartButton.vue';
import { useCart } from '@src/stores/cart';
import type { Product } from '@src/utils/types';

const props = defineProps<{
    product?: Product;
    isCart?: Boolean;
}>();

const cart = useCart();
const quantity = ref(1);

function addQuantity() {
    cart.addQuantity(props.product?.id, quantity.value);
}

watch(quantity, () => {
    addQuantity();
});
</script>

<template>
    <template v-if="props.product">
        <div class="grid grid-cols-5 grid-rows-1 gap-4 p-4 mb-5 shadow-lg">
            <div class="flex items-center justify-center">
                <img
                    class="object-contain w-full h-28"
                    :src="`${props.product.picturesLink[0]}`"
                    :alt="`${props.product.picturesLink[0]}`"
                />
            </div>
            <div>
                <div class="mb-4 text-xl">{{ props.product.name }}</div>
                <div class="mb-4 text-sm">{{ props.product.description }}</div>
            </div>
            <div class="flex justify-center w-full mb-4 text-xl">{{ props.product.price }}</div>
            <div class="flex items-start justify-center">
                <button class="pl-4 pr-4 bg-blue-100 border" @click="quantity--">-</button>
                <input
                    class="w-24 border"
                    type="number"
                    min="1"
                    v-model="quantity"
                    @input="addQuantity"
                />
                <button class="pl-4 pr-4 bg-blue-100 border" @click="quantity++">+</button>
            </div>
            <div class="flex justify-center w-full">
                <RemoveFromCartButton
                    v-if="props.isCart"
                    title="Remove from cart"
                    :product-id="props.product.id"
                />
            </div>
        </div>
    </template>
</template>
