<script setup lang="ts">
const props = defineProps<{
    title?: string;
}>();
</script>

<template>
    <div>
        <button
            class="p-2 text-white bg-blue-600 border border-black rounded-xl hover:bg-blue-400"
            type="button"
        >
            {{ props.title }}
        </button>
    </div>
</template>
