<script setup lang="ts">
import { onMounted, ref } from 'vue';
import AddToCartButton from '@components/elements/AddToCartButton.vue';
import RemoveFromCartButton from '@components/elements/RemoveFromCartButton.vue';
import RemoveFromWishlistButton from '@components/elements/RemoveFromWishlistButton.vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Pagination, Navigation } from 'swiper/modules';
import { useWishlist } from '@src/stores/wishlist';
import type { Product } from '@src/utils/types';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

const props = defineProps<{
    product?: Product;
    isCart?: Boolean;
    isWishlist?: Boolean;
}>();

const wishlist = useWishlist();

const options = {
    modules: [Pagination, Navigation]
};

const isInWishlist = ref(false);

function addToWishlist() {
    if (props.product) {
        isInWishlist.value = true;
        wishlist.addToWishlist(props.product.id);
    }
}
function removeFromWishlist() {
    if (props.product) {
        isInWishlist.value = false;
        wishlist.removeFromWishlist(props.product.id);
    }
}

onMounted(() => {
    if (props.product) {
        isInWishlist.value = wishlist.isProductInWishlist(props.product.id);
    }
});
</script>

<template>
    <template v-if="props.product">
        <div class="p-4 shadow-lg">
            <swiper
                :pagination="{
                    type: 'fraction'
                }"
                :navigation="true"
                :modules="options.modules"
            >
                <swiper-slide v-for="link in props.product.picturesLink" :key="`Picture ${link}`">
                    <img class="object-contain w-full h-96" :src="`${link}`" :alt="`${link}`" />
                </swiper-slide>
            </swiper>
            <div class="mt-4 mb-4 text-xl">{{ props.product.name }}</div>
            <div class="mb-4 text-sm">{{ props.product.description }}</div>
            <div class="flex justify-end w-full mb-4 text-xl">{{ props.product.price }}</div>
            <div class="flex justify-between w-full">
                <i
                    v-if="isInWishlist"
                    class="text-3xl fa-solid fa-heart hover:cursor-pointer"
                    @click="removeFromWishlist"
                ></i>
                <i
                    v-else
                    class="text-3xl fa-regular fa-heart hover:cursor-pointer"
                    @click="addToWishlist"
                ></i>
                <AddToCartButton
                    v-if="!props.isCart && !props.isWishlist"
                    title="Add to cart"
                    :product-id="props.product.id"
                />
                <RemoveFromCartButton
                    v-if="props.isCart"
                    title="Remove from cart"
                    :product-id="props.product.id"
                />
                <RemoveFromWishlistButton
                    v-if="props.isWishlist"
                    title="Remove from wishlist"
                    :product-id="props.product.id"
                />
            </div>
        </div>
    </template>
</template>
<style lang="scss">
:root {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: green;
}
</style>
