<script setup lang="ts">
import { useWishlist } from '@src/stores/wishlist';

const props = defineProps<{
    title?: string;
    productId: number;
}>();

const cart = useWishlist();

function removeFromWishlist() {
    cart.removeFromWishlist(props.productId ?? props.productId);
}
</script>

<template>
    <div>
        <button
            class="p-3 text-white bg-red-600 border border-black rounded-xl hover:bg-red-400"
            type="button"
            @click="removeFromWishlist()"
        >
            {{ title }}
        </button>
    </div>
</template>
