<script setup lang="ts">
import { useCart } from '@src/stores/cart';

const props = defineProps<{
    title?: string;
    productId: number;
}>();

const cart = useCart();

function removeFromCart() {
    cart.removeFromCart(props.productId ?? props.productId);
}
</script>

<template>
    <div>
        <button
            class="p-3 text-white bg-red-600 border border-black rounded-xl hover:bg-red-400"
            type="button"
            @click="removeFromCart()"
        >
            {{ title }}
        </button>
    </div>
</template>
