<script setup lang="ts">
import Layout from '@components/views/LayoutView.vue';
import { useProducts } from '@src/stores/products';
import { onBeforeMount } from 'vue';

const store = useProducts();

onBeforeMount(() => {
    store.fetchCharacters();
});
</script>

<template>
    <div class="max-w-screen-2xl mx-auto">
        <Layout />
    </div>
</template>
